/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

main{
    overflow:auto;
}
    

body, input, button {
    font-size: 12px;
    font-family: "Arial Rounded MT";
}

a {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

a:hover {
    opacity: .5;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

/* style */

body {
    padding: 50px;
}

a {
    color: #00B7FF;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    background: #dfdfdf;
    padding: 10px;
    margin-bottom: 10px;
}

ul li .edit {
    display: none;
}

ul li.edit .edit {
    display: initial;
}

ul li.edit .noedit {
    display: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table th {
    background-color: #1A2744;
    color: #00B7FF;
    text-align: center;
}

td, th {
    border: 2px solid #737c92;
    text-align: center;
    padding: 8px;
}

table th {
    font-size: 20px;
}

table td {
    font-size: 15px;
}

table tr {
    text-align: center;
    color: #1A2744;
    background-color: #45ADFF;
}

tr:nth-child(odd) {
    background-color: #fff;
    color: #1A2744;
}

/* body */
body {
    background-color: #1A2744;
}

/* Header */
header {
    background-color: #45ADFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 120px;
    display: flex;
    align-items: center;
}

header .heading {
    margin: 0 auto;
}

header h1 {
    color: #1A2744;
}

/* Main */
main {
    margin-top: 80px;
    padding: 20px 120px;
}

main h2 {
    color: #45ADFF;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

/* form container */
.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container .image {
    background-color: #fff;
    padding: 65px;
}

.form-container .image img {
    display: inline-block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.form-container .form {
    height: auto;
    width: 400px;
    background-color: #45ADFF;
    padding: 30px;
}

.form img {
    display: block;
    margin: 0 auto 20px;
}

/* form insert*/
input {
    width: 300px;
    height: auto;
    min-height: 30px;
    background-color: #fff;
    border: none;
    padding: 15px;
    margin: 5px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
}

.row-2 {
    display: flex;
    justify-content: space-between;
}

#idBuku, #ratingBuku {
    width: 120px;
}

#namaPenulis {
    width: 98%;
}

button {
    padding: 20px;
    background-color: #1A2744;
    color: #fff;
    border:none;
    width: 98%;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

